/* General Styles */
body {
    max-width: 1920px;
    min-width: 480px;
    margin: auto;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
}

header {
    width: 100%;
}

.header-part {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
}

li {
    margin-right: 20px;
    margin-top: 30px;
}

li img {
    width: 64px;
    padding-bottom: 10px;
}

li a {
    color: #000;
    text-decoration: none;
    font-size: 28px;
}

li span.cart {
    font-size: 15px;
    height: 35px;
    width: 35px;
    background-color: #FF8800;
    border-radius: 50%;
    display: inline-block;
    line-height: 35px;
    text-align: center;
    position: relative;
    top: -10px;
    left: -10px;
}

li span.logout a {
    font-size: 16px;
    color: #ff0000;
}

main {
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 20px;
}

main h1 {
    margin: 50px auto 50px auto;
}
main p  {
    margin: 30px auto 30px auto;
}

a {
    color: #007bff;
}

footer {
    background-color: rgba(36, 36, 36, 0.724);
    padding: 20px;
    height: 15rem;
    display: flex;
    flex-direction: column;
    margin: 50px auto 50px auto;
   
}

footer p, footer a {
    color: white;
}

footer img {
    max-width: 100px;
}

.product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 650px;
}

.product-card h2 {
    font-size: 1.2em;
}

.product-card img {
    max-width: 100%;
    max-height: 300px;
}

.product-card p {
    font-size: 1em;
    margin: 5px 0;
}

/* Search Form */
.search {
    margin: 75px 50px auto auto;
}
.search form {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.search input[type="text"] {
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

/* Search Button */
.search button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.search button:hover {
    background: #0056b3;
}

/* Styles for single-product page */
.product-details {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
}

.product-image img {
    max-width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.add-to-cart-form {
    text-align: center;
    margin: 20px;
}

.quantity-input {
    width: 50px;
    padding: 8px;
    text-align: center;
}

.add-to-cart-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-price {
    font-size: 20px;
    margin-top: 10px;
}

.add-to-cart-button:hover {
    background-color: #FF8800;
}

/* Cart tables */
table {
    width: 75%;
    border-collapse: collapse;
    margin: auto;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #fff;
}

p {
    margin: 10px 0;
}

/* Cart Form and Button */
.cart-count {
    margin-left: auto;
}

.cart-form {
    margin: 20px auto 20px auto;
}

.cart-form input[type="submit"][name="empty_cart"] {
    align-self: center;
    background-color: #FF8800;
    color: #fff;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    text-align: right;
}

.cart-form input[type="submit"][name="empty_cart"]:hover {
    background-color: #ff0000;
}
.cart-form input[type="submit"][name="make_order"] {
    align-self: center;
    background-color: #FF8800;
    color: #fff;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    text-align: right;
}
.cart-form input[type="submit"][name="make_order"]:hover {
    background-color: #ff0000;
}

.custom-form {
    background: #FFF;
    border: 1px solid #CCC;
    padding: 10px;
}

.cart-itm {
    margin-right: 240px;
    text-align: right;
}
/* login.php */
.loginform form {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px; 
    margin: 0 auto; 
    padding: 10px;
}

.loginform input[type="text"],
.loginform input[type="password"] {
    border: 1px solid #ccc; /* Add 1px #ccc border to input fields */
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    width: 90%;
    text-align: left; 
}

/* login button */
.loginform button {
    margin-top: 8px;
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.loginform button:hover {
    background: #0056b3;
}

/* Apply styles to form labels */
.loginform label {
    font-weight: bold;
    margin-left: 10px; 
    text-align: left; 
}
/* registration form */
.registration-form {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px; /* Set the desired width for the form */
    margin: 0 auto; /* Center the form horizontally */
    padding: 10px;
}

/*  labels */
.registration-form label {
    font-weight: bold;
    margin-left: 10px; 
    text-align: left;
}

/*  input fields */
.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"] {
    border: 1px solid #ccc; /* Add 1px #ccc border to input fields */
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    width: 90%; /* Make the input fields fill the width of the form */
    text-align: right; /* Align input fields to the right */
    margin-bottom: 10px; /* Add space between input fields */
}

/* registration button */
.registration-form button {
    background: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.registration-form button:hover {
    background: #0056b3;
}